$primary-font: "Playfair Display", serif;
$secondary-font: "Ambidexter", sans-serif;

$common-color: #faded2;
$primary-color: #b83556;
$secondary-color: #845747;
$additional-color: #dc97a5;

$tablet: 768px;
$desktop: 1100px;

